.main {
  display: flex;
  gap: 1em;
}

.repository {
    margin-left: 1em;
}

select.select-library {
    width: auto;
    display: inline-block;
}

.cm-editor {
    height: 600px;
}

.duration {
    height: 1em;
}

.preview {
    height: 600px;
    overflow: auto;
}
